@charset "utf-8";
/* using by:  */

/* override the oroginal layout CSS [Start] */
body, table, tr, td, div, span {
    font-family: Georgia,"Times New Roman",Times,serif;
}

/*
.menu-item {
    font-size: 1.25em; -- no need
    font-size: 1em;
}
*/

#block-usernameblock {
    display: inline-block;
    position:relative;
    margin-top:-17px;
}

#block-bartik-branding {
    margin-top: -8px;
    margin-bottom: -45px;
}

#block-usernameblock div {
    color: #051B64;
}
/* old KICP icon (on top left corner) */

#block-kicpicon-2 {
    display: inline-block;
    margin-top: -20px;
}
/* override the oroginal layout CSS [End] */

.cpRateStarOn {

    background-image: url(../../../../modules/custom/common/images/star-solid.svg); 
    background-repeat: no-repeat;
    padding-left: 16px;
    height: 20px;
    display: inline-block;
    text-decoration: none;
}

.cpRateStarHalf {

    background-image: url(../../../../modules/custom/common/images/star-half-solid.svg);
    background-repeat: no-repeat;
    padding-left: 16px;
    height: 20px;
    display: inline-block;
    text-decoration: none;
}


.cpRateStarOff {

    background-image: url(../../../../modules/custom/common/images/star-regular.svg);
    background-repeat: no-repeat;
    padding-left: 16px;
    height: 20px;
    display: inline-block;
    text-decoration: none;
}

.noDisplay{
    display:none;
}

.cpRateWording{
    padding-left:5px;
    display:inline-block;
}

.small{
    font-size:0.8em;
    padding-left:0px;
    font-weight:bold;
}

.cpRateComment{
    font-style:italic;
    font-weight:bold;
}

table.dataTable tbody th, table.dataTable tbody tr, table.dataTable tbody td {
    padding: 0px !important;
    border: 0px;    
}

table.row_table {     
    border: 1px solid #ddd;        
    margin: 0px;
}

.dataTables_filter input {
    width: 300px; 
}

.selecterd_tag_div {
    padding:2px;
    display: inline-block;
    width:65%;
}

.selecterd_tag_div>.item {
    border:1px solid #DDDDDD;
    display: inline-block;
    padding: 5px;
    border-radius: 5px;
    margin-right: 3px;
}

.selecterd_tag_div>.item:hover  {
    background: #F6F6F6;
}

#DivLoadMore a {
    padding:5px;
    border-radius:5px;
    background-color:#62C1FC;
    color:#FFFFFF;
}

#DivLoadMore a:hover {
    background-color: #449ACF;
    color: #FFFFFF;
    text-decoration: underline;
}

.tagBullet {
    display:inline-block;
    line-height: 2em;
    padding: 3px 6px;
    border:1px solid #DBDBDB;
    border-radius: 5px;
    margin:7px 5px;
    box-shadow: 1px 1px 1px #ECECEC;
    background-color: #FCFCFC
}

.tagBullet:hover {
    /*border:1px solid #C2C2C2;*/
    background-color: #F2F2F2;
    box-shadow: 1px 1px 1px #888888;
}

.tagHighlight {
    color: #8950C7;
}

.tagHighlight:hover {
    color: #6000C7;
}

.copTagInput {
    border: 1px solid #FAFAD2;
    background: #FAFAD2;
}

.highlight_icon2 {
    padding:7px;
    border-radius:5px;
    background-color:#2982FF;
    color:#FFFFFF;
    
    float:right; margin-top:7px; margin-left:10px;
}

.highlight_icon2:hover {
    background-color: #0E5BC7;
    color: #FFFFFF;
    text-decoration: none;
} 

.highlight_icon2:focus {
    color: #FFFFFF;
}

#MainEntryContainer100 {
    width:100%;
    margin:8px;
    display:inline-block;
}

.group_member_list {
    background-color: #EEEEEE;
    position:absolute;
    border:1px solid #CCCCCC;
    border-radius: 3px;
    width:280px;
    display:block;
    /*top:-15px;*/
    margin-left:4px;
    z-index:1;
    box-shadow: 1px 1px 5px #e6e6e6;
}

.group_member_list > .group_name {
    color: #000000;
    background-color: #DDDDDD;
    padding:4px;
    border-radius: 3px 3px 0 0;
    border-bottom: 1px solid #CCCCCC;
}

.group_member_list > .group_close {
    display:inline-block;
    margin-right:5px;
    font-size:13pt;
    cursor:pointer;
    padding:0px 6px;
}

.group_member_list > .group_close:hover {
    background-color: #ECECEC;
    font-size:14pt;
}

.group_member_list > .group_member {
    max-height: 210px;
    overflow-x: auto;
    padding:4px;
}

#edit-tags--description {
    color: blue;
    letter-spacing: 0.1em;
}

#block-bartik-branding>a>img{
    width: 100%;
    height: auto;
}

.text-left-100 {
    margin: 10px 0px; 
    width: 100%; 
    float: left; 
    display: block;
    font-weight:bold;
}

.text-left-90 {
    width: 93%; 
    float: left; 
    margin-bottom:20px;
}

.text-left-6 {
    width: 6%; 
    float: left; 
}

.quoteMessage {
    width:95%;
    margin-left:20px;
    background-color:#EDEDED; 
    border:1px dotted #7A7A7A;
    padding:10px;
    /*display: table-cell;*/
}


.announcement_div {
    padding:7px;
    border-radius:5px;
    background-color:#62C1FC;
    color:#FFFFFF;
    float:right; 
    margin-top:-40px; 
    margin-left:10px;
    margin-right:10px;
}

.announcement_div>a {
    color:#45442C;
}

.fa-user-plus {
    color:darkgreen;
}


.fa-star {
    color:#27a931
}


.kicp_button {
/*    
    background-image: linear-gradient(to bottom,rgb(158,195,207),rgb(71 103 145));
    color:#fff;
    margin:5px;
    border-radius: 7px;
*/
    color:#fff;
    margin:5px;
    border-radius: 5px;
    /* From https://css.glass */
    background: rgba(38, 56, 181, 0.96);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(38, 56, 181, 0.43);
}

.kicp_button:hover {
    /* From https://css.glass */
    background: rgba(53, 56, 78, 0.96);
}


.kicp_button2 {
    color:#fff;
    margin:5px;
    border-radius: 3px;
    /* From https://css.glass */
    background: rgba(6, 88, 109, 0.96);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(17, 148, 133, 0.43);    
}

.kicp_button2:hover {
    background: rgba(32, 56, 53, 0.59);
}

.kicp_button > .svg-inline--fa, .kicp_button2 > .svg-inline--fa {
    margin: 0 10px;
}


#DivFollower {
    border: 1px solid #DBDBDB;
    float:right; 
    text-align:right;
    padding: 7px;
    border-radius: 10px;
    margin-left: 10px;
}

#DivFollower:hover {
    border-color: #DBDBDB;
    background-color:#F2F2F2;
}

.follow > a, .unfollow > a {
    color:#fff;
    font-size: 10px;
    vertical-align: middle;
}

.follow > a:hover, .unfollow > a:hover {
    color:#fff;
}

.follow, .unfollow {
    margin-left: 10px;
    font-family: Helvetica,Arial,sans-serif;
    border: 1px solid #6e6e6e !important;
    background-color: #1383d3;
    color:#fff;
    border-radius: 15px;
    width:80px;
}

.unfollow {
    margin-left: 10px;
    font-family: Helvetica,Arial,sans-serif;
    border: 1px solid #6e6e6e !important;
    background-color: #396585;
    color:#fff;
    border-radius: 30px;
    width:80px;    
}

.follow:hover, .unfollow:hover {
    background-color:#04092238;
}

.padding_right_45 {
    padding-right: 4.5em;
}