<div id="blocker" class="blocker" style="display:none;">
<div id="add-record" class="access_control_table blog_access_modal"></div>
</div>
<script>
    function blog_modal() {
        console.log("click modal blog");
        jQuery("#blocker").css("display","inline-block");
    }
</script>