<div class="ProfileMainContainer">
    <div class="clear"></div>
    <div style="float:left; display:inline-block;">
    {% include '@profile/profile-leftmenu.html.twig' %}
    </div>
    <div id="MainEntryContainer">
        <div id="DivContentTable" class="CopJoinMemberTable">
        {% include '@profile/profile-coptable.html.twig' %}
        </div>
    </div>
</div>