<div style="padding:2px;width:99%;">
    <div class="access_control_header" style="width:98%;padding:3px;border:1px solid #FFFFFF;">Add Public Group</div>
    <div class="access_control_header" style="width:100%;display:flex;">
        <div style="width:40%;padding:2px;border:1px solid #FFFFFF;">Group Name:</div>
        <div style="width:57%;padding:2px;border:1px solid #FFFFFF;">
            <input type="text" name="pub_group_search_str" id="pub_group_search_str" value="" size="20" style="height:24px; font-size:9pt;" tabindex="1" onkeypress="return key_press_search_public_group(event); ">
        </div>
    </div>
    <div class="access_control_header" style="width:100%; display:flex;">
        <div style="width:40%;padding:2px;border:1px solid #FFFFFF;">Load Group List:</div>
        <div style="width:57%;padding:2px;border:1px solid #FFFFFF;"><a href="javascript:;" style="border-bottom:0px;" tabindex="2"><img src="modules/custom/common/images/btn_load.gif" border="0" alt="Load" title="Load" onclick="get_search_public_group(jQuery('#pub_group_search_str').val(), 'blog', 1243)" id="loadBtn"></a></div>
    </div>
</div>