{% if tagsUrl is not null  %}  
<div class="selecterd_tag_div" style="float:left;">Selected Tag: 
 {% for tagUrl in tagsUrl %}
    <div class="item"><a href="javascript:;" onclick="RemovetagUrl('{{ tagUrl }}')">{{ tagUrl }} <i class="fa-solid fa-xmark" style="color:red"></i> </a></div>
 {% endfor %}

</div>
{% endif %}
<input type="hidden" name="selected_tag" id="selected_tag" value="{{ tagsUrl |join(';') }}">