{% if breads %}
       <nav class="breadcrumb" role="navigation" aria-labelledby="system-breadcrumb">
    <ol class="breadcrumb-items">
          <li class="breadcrumb-item">
                  <a href="{{ path('<front>') }}">Home</a>
              </li>
          {% for bread in breads %} 
          <li class="breadcrumb-item">
                    <span><i class="icon-angle-right"></i></span> 
                    {% if bread['url'] %}
                    <a href="{{bread['url']}}">{{ bread['name'] }}</a>
                    {% else  %}
                   {{ bread['name'] }}
                   {% endif %}
              </li>
           {% endfor %}    
        </ol>
  </nav>
{% endif  %}  

