<form id="search_form" name="search_form" method="get">
  <div class="text-right">
  <input type="text" id="search_str" name="search_str" size="40" value="{{  items['search_str'] }}" placeholder="{{ placeholder }}"></div>
</form>