{% include '@ppcactivities/leftmenu.html.twig' %}
<div id="right_content">
    <div class="text-right">
        <div style="text-align:right;margin-top:5px;">
            <div id="DivFollower">PPCIS.OGCIO <span> {% include '@common/common-follow.html.twig'  with {contributor_id: 'PPCIS.OGCIO'}  %}</span></div>
        </div>
    </div>
    <div class="spacer"></div>
    <div>
        <p>{{items['description']}}</p>
        {% for cop in categories %}
            {% if cop['cop_id'] == cop_id  %}
                <p>{{cop['cop_info']}}</p>
            {% endif %}       
        {% endfor %}    
    </div>
    <div class="type_title">{{items['evt_type_name']}}</div>

    {% if events is not empty %}
        {% include '@ppcactivities/ppcactivities-general.html.twig' %}
    {% endif %}



</div>