<div id="animated-thumbnails" class="list-unstyled justified-gallery" >
    <a href="/system/files/activities/photo/000318/DSC03218.jpg" >
        <img src="/system/files/activities/photo/000318/DSC03218.jpg" />
    </a>
    <a href="/system/files/activities/photo/000318/DSC03225.jpg"  >
        <img src="/system/files/activities/photo/000318/DSC03225.jpg" />
    </a>
    <a href="/system/files/activities/photo/000318/DSC03232.jpg"  >
        <img src="/system/files/activities/photo/000318/DSC03232.jpg" />
    </a>
    <a href="/system/files/activities/photo/000318/IMG_0212.jpg"   >
        <img src="/system/files/activities/photo/000318/IMG_0212.jpg" />
    </a>
    <a href="/system/files/activities/photo/000318/IMG_0227.jpg"  >
        <img src="/system/files/activities/photo/000318/IMG_0227.jpg" />
    </a>

</div>

<script type="text/javascript">
    lightGallery(document.getElementById('animated-thumbnails-gallery'), {
        thumbnail: true,
    });
</script>