{% include '@activities/leftmenu.html.twig' %}
<div id="right_content">
    <div class="text-right">
        <button class="kicp_button" onclick="copyTextToClipboard(); mailto(3,'')"><i class="fa-solid fa-share-nodes"></i> Share</button>
        <div id="DivCopyText" style="display:none;"><input name="CopyTextTemp" id="CopyTextTemp" value=""></div>
        {% if user.hasPermission('activities_admin') %}
        <button class="kicp_button" onclick="self.location.href='{{ path('activities.admin_content') }}'"><i class="fa-solid fa-gear"></i>Admin</button>
        {% endif %}
        <div style="text-align:right;margin-top:5px;">
            <div id="DivFollower">Knowledge Management Unit <span> {% include '@common/common-follow.html.twig'  with {contributor_id: 'KMU.OGCIO'}  %}</span></div>
        </div>
    </div>
    <div class="type_title">{{ items['evt_type_name']}}</div>
    <div class="spacer"></div>
    <div class="type_description">
        {{ items['description'] | raw  | nl2br  }}
    </div>  

    {% if events is not empty %}
        {% include '@activities/activities-general.html.twig' %}
    {% else %}    

        {% if copitems is not empty %}
            {% include '@activities/activities-cop-inside.html.twig' %}    
        {% else %}    
            {% if items['type_id'] == 1 %}
                {% include '@activities/activities-cop-top.html.twig' %}
            {% endif %}
        {% endif %}

    {% endif %}
</div>
