{% for item in items %}
<div style="display:inline-block;padding-right:10px;">

    <a href="{{ path('common.download', {'module_name': 'activities', 'file_id': evt_id, 'fname': item['evt_deliverable_url']  }) }}" target="_blank" onClick="_paq.push([\'trackLink\', this.href, \'download\']);"><i class="fa-solid fa-paperclip"></i> {{item['evt_deliverable_name']}}</a>
    {% include '@common/common-like.html.twig'  with {module: 'activities_deliverable', 'record_id':  item['evt_deliverable_id'], countLike: item ['countlike'], 'liked': item ['liked']  }  %}
</div>
{% include '@common/common-tags-list.html.twig'  with {'tags': item['tags']}  %}            
<input type="hidden" name="tag_page" id="tag_page" value="activities_tag">
<div>&nbsp;</div>
{% endfor %}
<style>
.like_text_div {display:inline-block;width:60px;}
</style>

