<h2>Box</h2>

<h3>Simple Box</h3>
<div class="box">
-- {{items}} --
</div>


<div class="spacer"></div>
<hr>

<h3>Primary Background Color Box</h3>
<div class="box-primary">
-- your content inside box --
</div>

<div class="spacer"></div>
<hr>

<h3>Seconday Background Color Box</h3>
<div class="box-secondary">
-- your content inside box --
</div>

<div class="spacer"></div>
<hr>

<h3>Dark Box</h3>
<div class="box-dark">
-- your content inside box --
</div>

<div class="spacer"></div>
<hr>

<h3>Dark Box w/Title</h3>
<div class="box">
	<h3 class="box-title">Box With Title</h3>
	<p>your content inside box</p>
</div><!-- /box -->
<div class="spacer"></div>
<hr>

<h3>Create Responsive Two Column Box</h3>
<div class="items">
	<div class="box">
		box one content
	</div><!-- /box -->
	<div class="box">
		box two content
	</div><!-- /box -->
</div><!-- /items -->
<div class="spacer"></div>
<hr>

<h3>Create Responsive Three Column Box</h3>
<div class="items">
	<div class="box">
		box one content
	</div><!-- /box -->
	<div class="box">
		box two content
	</div><!-- /box -->
	<div class="box">
		box three content
	</div><!-- /box -->
</div><!-- /items -->
<hr>
<h3>Create Responsive Four Column Box</h3>
<div class="items">
	<div class="box">
		box one content
	</div><!-- /box -->
	<div class="box">
		box two content
	</div><!-- /box -->
	<div class="box">
		box three content
	</div><!-- /box -->
	<div class="box">
		box four content
	</div><!-- /box -->
</div><!-- /items -->
<hr>
<stron>Box With an Image in Left Side</stron>
<div class="box">
	<img class="align-left" src="https://placehold.co/100x100" style="width:100px" alt="image" />some text in this box..
</div>

<div class="spacer"></div>

<hr>

<div class="box">
<img class="align-left" src="https://drupar.com/images/demo/placeholder/100-100.png" alt="image" />Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ac felis donec et odio pellentesque diam volutpat commodo sed. Aliquet nibh praesent tristique magna sit amet. Arcu felis bibendum ut tristique et egestas. Massa enim nec dui nunc mattis enim ut tellus elementum. Sed libero enim sed faucibus turpis. Tincidunt eget nullam non nisi. Id semper risus in hendrerit gravida.
</div>

<div class="spacer"></div>

<hr>

<h3>Box With an Image in Right Side</h3>
<div class="box">
	<img class="align-right" src="https://drupar.com/images/demo/placeholder/100-100.png" alt="image" />Some text in this box..
</div>

<div class="spacer"></div>

<hr>
<div class="box">
<img class="align-right" src="https://placehold.co/100x100"   alt="image" />Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ac felis donec et odio pellentesque diam volutpat commodo sed. Aliquet nibh praesent tristique magna sit amet. Arcu felis bibendum ut tristique et egestas. Massa enim nec dui nunc mattis enim ut tellus elementum. Sed libero enim sed faucibus turpis. Tincidunt eget nullam non nisi. Id semper risus in hendrerit gravida.
</div>

<div class="spacer"></div>

<hr>

<h2>Text Color</h2>

<h3>Primary</h3>

<div class="primary">your content</div>

<div class="spacer"></div>

<h3>Seconady</h3>

<div class="secondary">your content</div>

<div class="spacer"></div>

<h3>Dark</h3>

<div class="dark">your content</div>

<h3>Light</h3>

<div class="light">your content</div>

<div class="spacer"></div>
<hr>

<h2>Buttons</h2>

<h3>Small</h3>

<p><button class="button size-small">Small Button</button></p>

<p><button class="button size-2">Medium Button</button></p>

<p><button class="button size-3">Large Button</button></p>

<div class="spacer"></div>

<hr>

<h2>Columns</h2>


<h3>Two Columns - 30% and 70%</h3>

<div class="columns">
	<div class="w30">your content here...</div>
	<div class="w70">your content here...</div>
</div>

