<div id="iframe1" class="lightgallery"><input type="hidden" id="gallery_page1" value="1">
<div id="page_selector1" align="center"><a href="#1" id="album_pageFirst1" class="btn_page_selector1" onclick="BlogLightGalleryChangePage(1,1,12,5)" style="display: none;">&lt;&lt; First</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#1" id="album_pagePrevious1" class="btn_page_selector1" onclick="BlogLightGalleryChangePage(1,1,12,5)" style="display: none;">&lt; Previous</a>&nbsp;&nbsp;&nbsp;&nbsp;<a id="album_page1_1" class="btn_page_selector1" style="font-weight: bold; color: rgb(0, 0, 0);">1</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#1" id="album_page2_1" class="btn_page_selector1" onclick="BlogLightGalleryChangePage(1,2,12,5)">2</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#1" id="album_page3_1" class="btn_page_selector1" onclick="BlogLightGalleryChangePage(1,3,12,5)">3</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#1" id="album_page4_1" class="btn_page_selector1" onclick="BlogLightGalleryChangePage(1,4,12,5)">4</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#1" id="album_page5_1" class="btn_page_selector1" onclick="BlogLightGalleryChangePage(1,5,12,5)">5</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#1" id="album_pageNext1" class="btn_page_selector1" onclick="BlogLightGalleryChangePage(1,2,12,5)">Next &gt;</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#1" id="album_pageLast1" class="btn_page_selector1" onclick="BlogLightGalleryChangePage(1,5,12,5)">Last &gt;&gt;</a></div>
<div>
    <div id="animated-thumbnials1" class="list-unstyled justified-gallery" style="height: 448px;">        <a class="jg-entry" href="sites/default/files/public/album/download/Promotion_to_SSM_2022/2022_SSM_001.jpg" data-sub-html="2022_SSM_001.jpg" onclick="_paq.push(['trackEvent', 'Album', 'Click', this.href])" style="width: 217px; height: 144.833px; top: 6px; left: 6px; opacity: 1;">
            <img class="img-responsive" src="sites/default/files/public/album/gal/Promotion_to_SSM_2022/2022_SSM_001.jpg" style="width: 217px; height: 145px; margin-left: -108.5px; margin-top: -72.5px;">
        </a>
        <a class="jg-entry" href="sites/default/files/public/album/download/Promotion_to_SSM_2022/2022_SSM_002.jpg" data-sub-html="2022_SSM_002.jpg" onclick="_paq.push(['trackEvent', 'Album', 'Click', this.href])" style="width: 217px; height: 144.833px; top: 6px; left: 224px; opacity: 1;">
            <img class="img-responsive" src="sites/default/files/public/album/gal/Promotion_to_SSM_2022/2022_SSM_002.jpg" style="width: 217px; height: 145px; margin-left: -108.5px; margin-top: -72.5px;">
        </a>
        <a class="jg-entry" href="sites/default/files/public/album/download/Promotion_to_SSM_2022/2022_SSM_003.jpg" data-sub-html="2022_SSM_003.jpg" onclick="_paq.push(['trackEvent', 'Album', 'Click', this.href])" style="width: 217px; height: 144.833px; top: 6px; left: 442px; opacity: 1;">
            <img class="img-responsive" src="sites/default/files/public/album/gal/Promotion_to_SSM_2022/2022_SSM_003.jpg" style="width: 217px; height: 145px; margin-left: -108.5px; margin-top: -72.5px;">
        </a>
        <a class="jg-entry" href="sites/default/files/public/album/download/Promotion_to_SSM_2022/2022_SSM_004.jpg" data-sub-html="2022_SSM_004.jpg" onclick="_paq.push(['trackEvent', 'Album', 'Click', this.href])" style="width: 216px; height: 144.833px; top: 6px; left: 660px; opacity: 1;">
            <img class="img-responsive" src="sites/default/files/public/album/gal/Promotion_to_SSM_2022/2022_SSM_004.jpg" style="width: 216px; height: 145px; margin-left: -108px; margin-top: -72.5px;">
        </a>
        <a class="jg-entry" href="sites/default/files/public/album/download/Promotion_to_SSM_2022/2022_SSM_005.jpg" data-sub-html="2022_SSM_005.jpg" onclick="_paq.push(['trackEvent', 'Album', 'Click', this.href])" style="width: 217px; height: 144.833px; top: 151.833px; left: 6px; opacity: 1;">
            <img class="img-responsive" src="sites/default/files/public/album/gal/Promotion_to_SSM_2022/2022_SSM_005.jpg" style="width: 217px; height: 145px; margin-left: -108.5px; margin-top: -72.5px;">
        </a>
        <a class="jg-entry" href="sites/default/files/public/album/download/Promotion_to_SSM_2022/2022_SSM_006.jpg" data-sub-html="2022_SSM_006.jpg" onclick="_paq.push(['trackEvent', 'Album', 'Click', this.href])" style="width: 217px; height: 144.833px; top: 151.833px; left: 224px; opacity: 1;">
            <img class="img-responsive" src="sites/default/files/public/album/gal/Promotion_to_SSM_2022/2022_SSM_006.jpg" style="width: 217px; height: 145px; margin-left: -108.5px; margin-top: -72.5px;">
        </a>
        <a class="jg-entry" href="sites/default/files/public/album/download/Promotion_to_SSM_2022/2022_SSM_007.jpg" data-sub-html="2022_SSM_007.jpg" onclick="_paq.push(['trackEvent', 'Album', 'Click', this.href])" style="width: 217px; height: 144.833px; top: 151.833px; left: 442px; opacity: 1;">
            <img class="img-responsive" src="sites/default/files/public/album/gal/Promotion_to_SSM_2022/2022_SSM_007.jpg" style="width: 217px; height: 145px; margin-left: -108.5px; margin-top: -72.5px;">
        </a>
        <a class="jg-entry" href="sites/default/files/public/album/download/Promotion_to_SSM_2022/2022_SSM_008.jpg" data-sub-html="2022_SSM_008.jpg" onclick="_paq.push(['trackEvent', 'Album', 'Click', this.href])" style="width: 216px; height: 144.833px; top: 151.833px; left: 660px; opacity: 1;">
            <img class="img-responsive" src="sites/default/files/public/album/gal/Promotion_to_SSM_2022/2022_SSM_008.jpg" style="width: 216px; height: 145px; margin-left: -108px; margin-top: -72.5px;">
        </a>
        <a class="jg-entry" href="sites/default/files/public/album/download/Promotion_to_SSM_2022/2022_SSM_009.jpg" data-sub-html="2022_SSM_009.jpg" onclick="_paq.push(['trackEvent', 'Album', 'Click', this.href])" style="width: 217px; height: 144.833px; top: 297.666px; left: 6px; opacity: 1;">
            <img class="img-responsive" src="sites/default/files/public/album/gal/Promotion_to_SSM_2022/2022_SSM_009.jpg" style="width: 217px; height: 145px; margin-left: -108.5px; margin-top: -72.5px;">
        </a>
        <a class="jg-entry" href="sites/default/files/public/album/download/Promotion_to_SSM_2022/2022_SSM_010.jpg" data-sub-html="2022_SSM_010.jpg" onclick="_paq.push(['trackEvent', 'Album', 'Click', this.href])" style="width: 217px; height: 144.833px; top: 297.666px; left: 224px; opacity: 1;">
            <img class="img-responsive" src="sites/default/files/public/album/gal/Promotion_to_SSM_2022/2022_SSM_010.jpg" style="width: 217px; height: 145px; margin-left: -108.5px; margin-top: -72.5px;">
        </a>
        <a class="jg-entry" href="sites/default/files/public/album/download/Promotion_to_SSM_2022/2022_SSM_011.jpg" data-sub-html="2022_SSM_011.jpg" onclick="_paq.push(['trackEvent', 'Album', 'Click', this.href])" style="width: 217px; height: 144.833px; top: 297.666px; left: 442px; opacity: 1;">
            <img class="img-responsive" src="sites/default/files/public/album/gal/Promotion_to_SSM_2022/2022_SSM_011.jpg" style="width: 217px; height: 145px; margin-left: -108.5px; margin-top: -72.5px;">
        </a>
        <a class="jg-entry" href="sites/default/files/public/album/download/Promotion_to_SSM_2022/2022_SSM_012.jpg" data-sub-html="2022_SSM_012.jpg" onclick="_paq.push(['trackEvent', 'Album', 'Click', this.href])" style="width: 216px; height: 144.833px; top: 297.666px; left: 660px; opacity: 1;">
            <img class="img-responsive" src="sites/default/files/public/album/gal/Promotion_to_SSM_2022/2022_SSM_012.jpg" style="width: 216px; height: 145px; margin-left: -108px; margin-top: -72.5px;">
        </a>
</div>
</div>
<br>		<script type="text/javascript">
                function loadLightGallery(){
                    $(function() {
                        animThumb = $('#animated-thumbnials');
                        if (animThumb.length) {
                            animThumb.justifiedGallery({
                                    border: 6
                            }).on('jg.complete', function() {
                                    animThumb.lightGallery({
                                            thumbnail: true,
                                            animateThumb: true
                                    });
                            });
                        };
                        console.log('Loaded Light Gallery');
                    });
                }
                
                function changePage(page, PhotoPerPage, totalPages){
                    $('#gallery_page').val(page);
                    
                    $('#animated-thumbnials').html('');
                   
                    PhotoIndexMin=PhotoPerPage*(page-1);
                    PhotoIndexMax=PhotoPerPage*page-1;
                    
                    var photohtml;
                    photohtmlAry = new Array();
                    
                    
                    $.get("../photos.html", function(data) {
                        htmldata = data;
                    }, 'html').done(function(){
                       //console.log(photohtml); 
                       //photohtml = htmldata;
                       
                        //$lg.lightGallery();
                        photohtml = '';
                        for(var i=0; i<photosAry.length; i++){
                            if(i>=PhotoIndexMin && i<=PhotoIndexMax){

                                photohtmlAry[i] = htmldata;
                                photohtmlAry[i] = photohtmlAry[i].replace("{{downloadPhotoPath}}", photosAry[i]['downloadPhotoPath']);
                                photohtmlAry[i] = photohtmlAry[i].replace("{{downloadPhotoName}}", photosAry[i]['downloadPhotoName']);
                                photohtmlAry[i] = photohtmlAry[i].replace("{{galPhotoPath}}", photosAry[i]['galPhotoPath']);

                                /*
                                console.log('i=' + i);
                                
                                console.log('downloadPhotoPath=' + photosAry[i]['downloadPhotoPath']);
                                console.log('downloadPhotoName=' + photosAry[i]['downloadPhotoName']);
                                console.log('galPhotoPath=' + photosAry[i]['galPhotoPath']);
                                

                                console.log(photohtmlAry[i]);

                                console.log('');
                                */
                                photohtml = photohtml + photohtmlAry[i];
                                
                            }
                        }
                        
                        
                        //$('#animated-thumbnials').html(photohtml);
                        
                        var gallery = $("#animated-thumbnials");
                        gallery.lightGallery();
                        gallery.data('lightGallery').destroy(true);
                        gallery.html(photohtml);
                        //gallery.lightGallery();
                        gallery.justifiedGallery({
                                border: 6
                        }).on('jg.complete', function() {
                                gallery.lightGallery({
                                        thumbnail: true,
                                        animateThumb: true
                                });
                        });
                        
                        
                        PreviousPage = page-1;
                        NextPage = page+1;
                        FirstPage = 1;
                        LastPage =  totalPages;

                        if(PreviousPage<FirstPage){
                            PreviousPage = FirstPage;
                        }
                        
                        if(NextPage>LastPage){
                            NextPage = LastPage;
                        }
                        
                        $('#album_pagePrevious').attr("onclick","changePage(" + PreviousPage.toString() + "," + PhotoPerPage.toString() + "," + totalPages.toString() + ")");
                        $('#album_pageNext').attr("onclick","changePage(" + NextPage.toString() + "," + PhotoPerPage.toString() + "," + totalPages.toString() + ")");
                        
                        if(PreviousPage == page){
                            $('#album_pagePrevious').css('display','none');
                        }
                        else{
                            $('#album_pagePrevious').css('display','');
                        }
                        
                        if(NextPage == page){
                            $('#album_pageNext').css('display','none');
                        }
                        else{
                            $('#album_pageNext').css('display','');
                        }
                        
                        if(FirstPage == page){
                            $('#album_pageFirst').css('display','none');
                        }
                        else{
                            $('#album_pageFirst').css('display','');
                        }
                        
                        if(LastPage == page){
                            $('#album_pageLast').css('display','none');
                        }
                        else{
                            $('#album_pageLast').css('display','');
                        }
                        
                        for(var j=1; j<=totalPages; j++){
                            $('#album_page' + j).attr("href","#animated-thumbnials");
                            $('#album_page' + j).attr("onclick","changePage(" + j.toString() + "," + PhotoPerPage.toString() + "," + totalPages.toString() + ")");
                        }
                        
                        $('#album_page' + page).removeAttr('href');
                        $('#album_page' + page).removeAttr('onclick');
                        
                        $('.btn_page_selector').css("font-weight", "");
                        $('.btn_page_selector').css("color", "");
                        
                        $('#album_page' + page).css('font-weight', 'bold');
                        $('#album_page' + page).css("color", "black");
                        
                        
                    });
                }
                </script>
                
</div>